* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}


.timer {
  display: flex;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.value {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(43, 0, 128);
}

.label {
  font-size: 1rem;
}
